<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>

        <serverUrl url="http://services2.arcgis.com"
        			matchAll="true"
                   	clientId="WlAfSOaritE9ruDs"
  					clientSecret="9a8349fa622940128e889369f3742ca3" />
		<serverUrl url="http://sampleserver3.arcgisonline.com"
        			matchAll="true" 
        			clientId="WlAfSOaritE9ruDs"
  					clientSecret="9a8349fa622940128e889369f3742ca3" />
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
